# OS junk
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.iml

# Logs / temp
*.log
*.tmp
*.swp

# Archives
*.zip
*.tar
*.tar.gz

# (Optional) local venvs if you keep quick scripts
venv/
.venv/

